:root {
    --main-back: #30444d;
    --border-color: aliceblue;
}

* {
    padding: 0px;
    margin: 0;
    max-width: min(100%, 100vw);
}

body {
    color: aliceblue;
}

.page_layout {
    width: 100dvw;
    min-height: 100dvh;
    display: grid;
    grid-template-areas:
        "header header"
        "aside main"
    ;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}

.navbar {
    grid-area: header;
}

.sidebar {
    grid-area: aside;
}

.main {
    grid-area: main;
    background-color: var(--main-back);
    overflow-y: hidden;
}



body {
    top: 0;
    margin: 0;
    background-color: rgb(4, 39, 62);
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(2, 31, 50);
    width: fit-content;
}

.recentclubs {
    padding-block: .5rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    align-items: center;
}

.recentclubs li {
    margin-inline: 1rem;

    list-style: none;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    
    display: grid;
    place-items: center;
}

.profile {
    height: 100%;
    width: 100%;
    border-radius: inherit;
    display: flex;
    justify-content: flex-end;
}

.sideicon {
    font-size: 2rem;
    color: var(--border-color);
}